@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap");

:root {
  --padding-min: 0.8rem;
  --padding-standard: 1rem;
  --padding-spaced: 1.2rem;
  --padding-large: 2.5rem;
  --margin-standard: 0.5rem;
  --padding-side: 5rem;
  --padding-side-small: 3rem;

  --font-size-small: 0.8rem;
  --font-size-standard: 1rem;
  --font-size-big: 4rem;
  --font-size-large: 4.8rem;
  --font-size-huge: 6rem;

  --color-bg1: rgb(250, 250, 250);
  --color-bg2: rgb(230, 230, 230);
  --color-text1: rgb(5, 5, 5);
  --color-accent-1: #ff6969;
  --color-accent-2: rgb(255, 183, 0);
  --color-positive: rgb(35, 209, 96);
  --rounding-size: 8px;
  --coregrad: linear-gradient(
    45deg,
    var(--color-accent-1),
    var(--color-accent-2)
  );
  --drop-shadow: 0 0px 6px -4px rgba(150, 150, 150, 0.4);
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: var(--font-size-standard);
  font-family: "Red Hat Display", sans-serif;
  color: var(--color-text1);
}

body {
  background-color: var(--color-bg1);
  overflow-x: hidden;
}

h1 {
  line-height: 1em;
  font-size: var(--font-size-huge);
}

h1 > span {
  font-size: inherit;
  background: linear-gradient(
    180deg,
    var(--color-accent-1) 24.77%,
    #000 85.42%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

img {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently */
}

.full {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 0 var(--padding-side);
  border-top: 1px solid var(--color-bg2);
  background-color: var(--color-bg1);
}

@keyframes blick {
  0% {
    scale: 1;
  }
  50% {
    scale: 0.98;
  }
  100% {
    scale: 1;
  }
}

/* ---------------------------------- */
/*                 nav                */
/* ---------------------------------- */

.navbar {
  padding: var(--padding-standard);
  display: flex;
  justify-content: right;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 100;
  list-style-type: none;
  gap: var(--padding-standard);
}

.button {
  /* font-size: var(--font-size-stasnda÷); */
  padding: calc(var(--padding-standard) / 4) var(--padding-standard);
  border-radius: var(--rounding-size);
  background-color: var(--color-bg1);
  border: 1px solid var(--color-bg2);
  text-decoration: none;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 var(--color-bg2), var(--drop-shadow);
  -webkit-transition: ease-out 0.2s;
  -moz-transition: ease-out 0.2s;
  transition: ease-out 0.2s;
}

.button:hover {
  color: var(--color-bg1);
  box-shadow: inset 0 -2rem 1px 0 var(--color-text1), var(--drop-shadow);
  border: 1px solid var(--color-text1);
}

/* ---------------------------------- */
/*                hero                */
/* ---------------------------------- */

#hero {
  background-color: transparent;
}

#heroTitle {
  margin-bottom: var(--padding-large);
}

#heroTitle {
  font-size: var(--font-size-huge);
  font-weight: 800;
}

.hero_button {
  margin-top: var(--padding-standard);
  width: max-content;
}

#heroImage {
  background: url(./img/heroImage.jpeg) lightgray 0% / cover no-repeat;
  opacity: 0.1;
  z-index: -1;
  position: fixed;
  right: -34.36169rem;
  bottom: -37.666rem;
  width: 86.3125rem;
  height: 81.6875rem;
  transform: rotate(17deg);
}

/* ---------------------------------- */
/*                list                */
/* ---------------------------------- */

.fullDouble {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: left;
  padding: 0 var(--padding-side);
  gap: var(--padding-side);
}

.fullContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.fullleft {
  flex: 1.5;
  gap: 1.25rem;
  height: 100%;
}

.fullRight {
  flex: 1;
  gap: 0.625rem;
  height: 100%;
}

.list {
  display: flex;
  flex-direction: column;
  gap: var(--padding-standard);
}

.list_item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.625rem 1.25rem;
  gap: var(--padding-standard);
  width: 100%;
  border-radius: var(--rounding-size);
  background-color: var(--color-bg1);
  border: 1px solid var(--color-bg2);
  cursor: pointer;
  box-shadow: inset 0 0 0 0 var(--color-bg2), var(--drop-shadow);
  -webkit-transition: ease-out 0.2s;
  -moz-transition: ease-out 0.2s;
  transition: ease-out 0.2s;
  color: var(--color-text1);
  text-decoration: none;

  /* opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.5s, transform 0.5s; */
}

/* .list-item.show {
  opacity: 1;
  transform: translateY(0);
} */

.list_item > p:last-child {
  display: None;
  color: var(--color-bg1);
}

.list_item:hover {
  color: var(--color-bg1);
  box-shadow: inset -7rem 0 1px 0 var(--color-text1), var(--drop-shadow);
  border: 1px solid var(--color-text1);
}

.list_item:hover > p:last-child {
  display: block;
}

.list_item:hover > p:nth-child(2) {
  display: none;
}

input {
  width: 70%;
  border-radius: var(--rounding-size);
  background-color: var(--color-bg1);
  border: 1px solid var(--color-text1);
  padding: calc(var(--padding-standard) / 4) var(--padding-standard);
  box-shadow: inset 0 0 0 0 var(--color-bg2), var(--drop-shadow);
  -webkit-transition: ease-out 0.2s;
  -moz-transition: ease-out 0.2s;
  transition: ease-out 0.2s;
  color: var(--color-text1);
}
input:hover {
  box-shadow: inset 0 -2rem 1px 0 var(--color-text1), var(--drop-shadow);
  color: var(--color-bg1);
}
input:focus {
  box-shadow: inset 0 0 0 0 var(--color-text1), var(--drop-shadow);
  color: var(--color-text1);
  animation: 0.1s ease-in-out 0s 1 blick;
}

/* ---------------------------------- */
/*                media               */
/* ---------------------------------- */

@media (max-width: 780px) {
  h1 {
    font-size: var(--font-size-large);
  }

  .fullDouble {
    flex-direction: column;
    gap: var(--padding-standard);
    height: auto;
    padding: var(--padding-side-small);
  }

  .full {
    padding: var(--padding-side-small);
    gap: var(--padding-standard);
  }

  .navbar {
    padding: var(--padding-spaced);
    display: flex;
    flex-direction: column;
    bottom: 0;
    right: 0;
    align-items: flex-end;
    justify-content: right;
    gap: var(--padding-spaced);
  }

  input {
    width: 100%;
  }
}

@media (max-width: 420px) {
  h1 {
    font-size: var(--font-size-big);
  }
  #heroTitle {
    margin-bottom: var(--padding-standard);
  }

  .navbar {
    height: 20vh;
    width: 60vw;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    align-items: baseline;
    align-content: flex-start;
  }

  /* 
  .full {
    justify-content: flex-start;
  } */
}

@media (max-height: 500px) {
  h1 {
    font-size: var(--font-size-big);
  }
  .list {
    gap: var(--padding-min);
  }

  .list_item {
    padding: 0.5rem 0.8rem;
  }
}
